{% extends 'shared/base.html' %}
{% block site_content %}
    <body>
    <div class="container">
        <div class="absolute">
            <h1 class="display-2" align="center">Welcome to Pet Store</h1>
            <h2 align="center">Sell or buy your pets.</h2>
            <h2 align="center">Buy a variety of products, medicine or toys.</h2>
            <div class="inner cover" align="center">
                {% if not user.is_authenticated %}
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="lead">Have an account? <br>
                                <a href="{% url 'signin user' %}" class="btn btn-lg btn-primary">Sign in</a></p>
                        </div>
                        <div class="col-lg-6">
                            <p class="lead"> Don't have an account? <br>
                                <a href="{% url 'signup user' %}" class="btn btn-lg btn-success">Register</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}