{% extends 'shared/base.html' %}
{% block site_content %}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <button class="btn btn-primary">Sign in</button>#}
{#</form>#}
<form action="{% url 'signin user' %}" method="post">
    {% csrf_token %}
    <div align="center">
        <label for="uname">Username</label>
        <input type="text" id="id_username" name="username" placeholder="Username..">

        <label for="passwd">Password</label>
        <input type="text" id="id_password" name="password" placeholder="Password..">

        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}
