{% extends 'shared/base.html' %}
{% block site_content %}
    <div class="text-center">
        <h1>{{ profile_user.username }} profile</h1>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div align="center">
                        {% if object.profile_picture %}
                            <img class="rounded-circle mb-3"
                                 alt="Generic pic" width="140" height="140"
                                 src="{{ object.profile_picture.url }}">
                        {% else %}
                            <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                                 alt="Generic placeholder image" width="140"
                                 height="140">
                        {% endif %}
                        <h5>{{ profile_user.username }}</h5>
                    </div>
                </div>
            </div>
            <hr>
            {% if profile_user.username == user.username %}
                <div class="col">
                    <form action="{% url 'current' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h5>{{ form }}</h5>
                        <button class="btn btn-primary">Upload</button>
                    </form>
                </div>
            {% else %}
                <div class="col">
                    <h5>{{ form }}</h5>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
